* {
  margin: 0;
  padding: 0 ;
}

/* ---- HEADER ---- */
.header-container {
  border: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-times {
  padding-left: 10px;
  color: MediumAquamarine;
}

.header-nav a {
  color: black;
  margin-left: 35px; 
}

/* ---- MAIN CONTAINER ---- */
.main-container {
  
}

.large-column {
  width: 630px;
}

.medium-column {
  width: 300px;
}

.small-column {
  width: 240px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black
}

.img-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.mother .img-text {
  font-size: 40px;
}