* {
  margin: 0;
  padding: 0 ;
}

/* ---- HEADER ---- */
.header-container {
  border: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-times {
  padding-left: 10px;
  color: MediumAquamarine;
}

.header-nav a {
  color: black;
  margin-left: 35px; 
}

/* ---- MAIN CONTENT CONTAINER ---- */
.main-content-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.img-text {
  color: green; /*white*/
  text-align: center;
  font-size: 30px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

/* ---- LEFT COLUMN ---- */
.large-column {
  width: 620px;
  margin: 40px 20px;
}

.mother-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: green;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
}

.orca-burger-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.earth-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.camera-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.o-b-content {
  padding-bottom: 30px;
}

/* ---- MIDDLE COLUMN ---- */
.medium-column {
  width: 300px;
  margin-top: 40px;
}

.cats-item {
  margin-top: 20px;
}

.cats-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---- RIGHT COLUMN ---- */
.small-column {
  width: 240px;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
}

.news-bites-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-bites-nav {
  margin: 40px 0 0 20px;
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
}

.nav-btn-side {
  border-bottom: 1px solid black;
  padding: 10px;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

/* ---- FOOTER ---- */
footer {
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.footer-logo {
  font-family: Georgia;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-nav a {
  text-decoration: underline;
  color: black;
  margin-left: 20px;
  font-weight: normal;
}

span {
  margin-left: 20px;
}

.footer-copyright p {
  font-size: 12px;
}
